@model report.Models.UserStatus

@using (Ajax.BeginForm("Edit", "UserStatus", new AjaxOptions { UpdateTargetId = "UserStatusList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.DefoltFlag)
    @Html.HiddenFor(model => model.number)
    <div class="form-horizontal">
        
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-5" style="float:left">
            @Html.Label("Статус", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StatusName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StatusName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" >
            <div class="col-md-offset-1 col-md-2" style="float:left">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div>
            @Ajax.ActionLink("Удалить", "Delete", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "UserStatusList" })
                </div>
        </div>

        
    </div>
}

