@model PagedList.IPagedList<report.Models.MatchList>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<div style="clear:both; padding-top:30px;">
@Html.Partial("Filter", ViewBag.Filter as report.Models.MatchList)
    </div>
<div style="clear:both; padding-bottom:60px;">
    <label id="linkAddItem" onclick="FormAddItem()" style="padding-top:10px;"><a>Добавить новый елемент</a></label>
    <div hidden id="AddItem">@Html.Partial("AddItem", new report.Models.MatchList())</div>
    <label id="linkAddItemHid" onclick="hidFormAddItem()" hidden><a>Скрыть</a></label>
    <script>
    function FormAddItem() {
        document.getElementById("linkAddItem").hidden = false;
        document.getElementById("AddItem").hidden = false;
        document.getElementById("linkAddItemHid").hidden = false;
    }
    function hidFormAddItem() {
        document.getElementById("linkAddItem").hidden = false;
        document.getElementById("AddItem").hidden = true;
        document.getElementById("linkAddItemHid").hidden = true;
    }
    </script>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Наименование у поставщика")
        </th>
        <th>
            @Html.DisplayName("Наименование у нас")
        </th>
        <th>
            @Html.DisplayName("Значение у поставщика")
        </th>
        <th>
            @Html.DisplayName("Значение у нас")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr id="AutoCorrect_@item.id">
        @Html.Partial("MatchListDetails", item)
    </tr>
}

</table>
<div style="clear: both;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}