@model IEnumerable<report.Models.VendorsName>

@{
    ViewBag.Title = "Index";
}



    @Html.Partial("Create")


    @Html.Partial("Upload")


<table class="table">
    
    <tr>
        <th>
            @Html.DisplayName("Название бренда")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
